<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SuiviCandidature</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <description>Première servlet</description>
  <servlet>
    <servlet-name>ServletUn</servlet-name>
    <servlet-class>com.suivicandidature.servlets.ServletUn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUn</servlet-name>
    <url-pattern>/un</url-pattern>
  </servlet-mapping>
  <description>Servlet Accueil</description>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.suivicandidature.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <description>Servlet Candidatures</description>
  <servlet>
    <servlet-name>NouveauCandidat</servlet-name>
    <servlet-class>com.suivicandidature.servlets.NouveauCandidat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouveauCandidat</servlet-name>
    <url-pattern>/nouveaucandidat</url-pattern>
  </servlet-mapping>
  <description>Fiche Etudiant</description>
  <servlet>
    <servlet-name>FicheEtudiant</servlet-name>
    <servlet-class>com.suivicandidature.servlets.FicheEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FicheEtudiant</servlet-name>
    <url-pattern>/ficheEtudiant</url-pattern>
  </servlet-mapping>
  <description>Servlet MonProfil</description>
  <servlet>
    <servlet-name>MonProfil</servlet-name>
    <servlet-class>com.suivicandidature.servlets.MonProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonProfil</servlet-name>
    <url-pattern>/monprofil</url-pattern>
  </servlet-mapping>
  <description>Servlet TestBootstrap</description>
  <servlet>
    <servlet-name>TestBootstrap</servlet-name>
    <servlet-class>com.suivicandidature.servlets.TestBootstrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestBootstrap</servlet-name>
    <url-pattern>/testbootstrap</url-pattern>
  </servlet-mapping>
  <description>Servlet GestionTestJDBC</description>
  <servlet>
    <servlet-name>GestionTestJDBC</servlet-name>
    <servlet-class>com.sdzee.servlets.GestionTestJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTestJDBC</servlet-name>
    <url-pattern>/testjdbc</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/vues/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>