html {
	background: url("../img/background_gray.jpg");
}

/* ------------------------------------------ MENU ------------------------------------------ */


div#menu p {
	font-size: 30;
	color: red;
}

div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#menu li {
    float: left;
}

div#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#menu ul li.onRight{
	float: right; 
	background-color: #35547e;
}

div#menu li a:hover {
    background-color: #446ba2;
    opacity:0.66;
}

div#menu .active {
    background-color: #446ba2;
}

/* ------------------------------------------ SECTION LOGIN ------------------------------------------ */

div#accessToProfil {
	width: 90%;
	max-height: 30%;
	box-shadow: 10px 10px black;
}

div#accesToProfil div#connexionProfil {
	
}


