html {
	background: url("../img/background_gray.jpg");
}

/* ------------------------------------------ MENU ------------------------------------------ */

div#menu p {
	font-size: 30;
	color: red;
}

div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#menu li {
    float: left;
}

div#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#menu ul li.onRight{
	float:	right; 
	background-color:	#35547e;
}

div#menu li a:hover {
    background-color: #446ba2;
    opacity:0.66;
}

div#menu .active {
    background-color: #446ba2;
}


/*------------------------- Style des inputs  ------------------------------*/
.button{
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #35547e;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #999;
  min-width: 100px;
  margin-top: 2%;
}

.button:hover {background-color: #6289bd}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

input{
	background-image: url("ressources/img/search-icon.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 16%;
	font-size: 16px;
	padding: 12px 20px 12px 20px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}


