body {
	background-color: #F5F5DC;
}

/* ------------------------------------------ MENU ------------------------------------------ */


div#menu p {
	font-size: 30;
	color: red;
}

div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#menu li {
    float: left;
}

div#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#menu ul li.onRight{
	float:	right; 
	background-color:	#35547e;
}

div#menu li a:hover {
    background-color: #446ba2;
    opacity:0.66;
}

div#menu .active {
    background-color: #446ba2;
}


/*------------------------- Style des inputs  ------------------------------*/

#inputSearchAccueil {
	background-image: url("ressources/img/search-icon.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 20%;
	font-size: 16px;
	padding: 12px 20px 12px 20px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#selectTriAccueil {
	background-image: url("ressources/img/search-icon.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 20%;
	font-size: 16px;
	padding: 12px 20px 12px 20px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}




/*------------------------- Style des inputs  ------------------------------*/


#tableEtudiants {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableEtudiants td, #tableEtudiants th {
    border: 1px solid #ddd;
    padding: 8px;
}

td {
	cursor: pointer;
}

#tableEtudiants tr:nth-child(even){background-color: #D1D2D5;}
#tableEtudiants tr:nth-child(odd){background-color: #E9EBFC;}

#tableEtudiants tr:hover {background-color: #ADB8F6;}

#tableEtudiants th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #35547e;
    color: white;
}

#link {
	width : 15px;
	height : 15px;
}